body {
    font-family: roboto;
    display: flex;
    flex-direction: column;
}

.cat {
    height: 200px;
    width: auto;
}

.cats {
    height: 200px;
    width: auto;
}

.header {
    display: flex;
    color: white;
    background-color: #1F2937;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    font-size: 16px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
}

a {
    text-decoration: none;
    color: white;
}